.header {
  color: white;
  background-color: #2a9d8f;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__container > a{
    color: white;
    text-decoration: none;
}

.logo__icon {
  padding-left: 4px;
  padding-top: 6px; 
}

.header__link{
    margin-left: 2rem;
    font-weight: 700;
    font-size: 16px;
  }

.header__link--button{
  color: #2a9d8f;
  background-color: white;
  filter: drop-shadow(2px 2px 4px black);
}

